<!DOCTYPE html>
<html>
    <head>
        <title>FishBlock</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
        <link rel="stylesheet" href="./public/css/main.css"/>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    </head>
    {% block header %}
        {% include 'header.html.twig' %}

    {% endblock %}
    <body>
        {% block body %}

        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
