{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <h1>Saison creation</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="form-control btn btn-success" value="Créer">

        {{ form_end(form) }}

    </section>

{% endblock %}
