{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <h1>Serie creation</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <a href="{{path('realisateur_new')}}" style='margin:10px'
           <div class="btn btn-info" >
                <div class="BoxFrameBtn " style="padding:5px" >
                    <p>Création d'un réalisateur</p>
                </div>
            </div>
        </a>
        <input type="submit" class="form-control btn btn-success" value="Créer">

        {{ form_end(form) }}
    </section>


{% endblock %}
